#content.listing-view {
	@include inlineBlockContain;
	& > * {
		width: 50%;
	}
}

.images-container {
	position: relative;
	img {
		//position: absolute;
		top: 0;
		left: 0;
	}
}
.images-container, .details-container {
	padding: 0 1rem;
}

.details-container {
	.favorite {
		cursor: pointer;
	}
	h3 span {
		width: 1rem;
		height: 1rem;
		overflow: hidden;
		display: inline-block;
		margin-left: -1.25rem;
		margin-right: .25rem;
	}
	.price {
		font-family: $title;
		font-size: 1.5rem;
	}
}



@media #{$tablet} {
		
}

@media #{$narrow} {
	#content.listing-view {
		padding: 2rem .5rem;
	}
}

@media #{$normal} {
	#content.listing-view {
		padding: 2rem 1rem;
	}
}
@media #{$wide} {
	#content.listing-view {
		padding: 2rem 2rem;
	}
}